body {
    background: grey;
}

#container {
    margin-top: 25px;
    display: grid;
    justify-content: center;
    height: auto;
    width: auto;
}



.game-board > div {
    display: inline-block;
    border: 1px solid black;
    height: 25px;
    width: 25px;
}

